/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	//vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* body {
	line-height: 1;
} */
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: roboto;
}
h1 {
  font-size: 8vw;
  line-height: 1.6;
}
h2 {
  font-size: 6vw;
}
h3 {
  font-size: 4vw;
}
p,
li,
a {
  font-size: 3.2vw;
  line-height: 1.8;
}
a {
  color: #000;
}
a:hover {
  color: #00000056;
  transition: 0.2s;
}
#navBar {
  width: 100%;
  height: 12rem;
  position: relative;
  margin: 0;
  padding: 0 2rem;
  background: #99b4ff;
}
#navBar .nav-container {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
}
#navBar .nav-container .nav-items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#navBar .nav-container .nav-items .logo-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 12rem;
  height: 12rem;
  background: url("../images/logo-with-name.png") no-repeat center top;
  background-size: 84%;
}
#navBar .nav-container .nav-items a {
  display: none;
  width: 100%;
  color: #1642BF;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.8em;
  padding: 0.3rem;
  text-align: center;
}
#navBar .nav-container .signUp {
  display: block;
  background: #1642BF;
  color: #fff;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-align: center;
  display: none;
  z-index: 1;
}
@media only screen and (min-width: 500px) {
  #navBar {
    height: 7rem;
    padding: 0;
  }
  #navBar .nav-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  #navBar .nav-container .nav-items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
  }
  #navBar .nav-container .nav-items .logo-link {
    position: relative;
    width: 17rem;
    height: 7rem;
  }
  #navBar .nav-container .nav-items a {
    display: block;
    font-size: 1.8em;
  }
  #navBar .nav-container .signUp {
    display: block;
    font-size: 1.6rem;
    margin-right: 1rem;
  }
}
@media only screen and (min-width: 1000px) {
  #navBar .nav-container {
    width: 1000px;
    padding: 0 1rem;
  }
}
footer {
  width: 100%;
  background: #99b4ff;
  position: absolute;
}
footer p {
  display: block;
  color: #1642BF;
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}
@media only screen and (min-width: 1000px) {
  footer p {
    width: 1000px;
  }
}
#container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
#hero-header {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10rem;
}
#hero-header div {
  width: 100%;
  padding: 0 2rem;
}
#hero-header .hero-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
#hero-header .hero-text p {
  margin-top: -2rem;
  margin-bottom: 4rem;
}
#hero-header .hero-text .signUp {
  display: block;
  background: #99b4ff;
  color: #1642BF;
  padding: 1rem 1.5rem;
  text-decoration: none;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: bold;
}
#hero-header .hero-text .signUp:hover {
  opacity: 0.5;
  transition: 0.3s;
}
#hero-header .img-container img {
  width: 100%;
  height: 40rem;
}
@media only screen and (max-width: 350px) {
  #hero-header .img-container img {
    height: 17rem;
  }
}
.content {
  width: 100%;
  margin-bottom: 10rem;
  padding: 0 2rem;
}
.content .img-container {
  width: 100%;
}
.content .img-container img {
  width: 100%;
  height: 20rem;
}
.content .text-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.content .text-container article {
  width: 100%;
  margin-bottom: 5rem;
  /* &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            } */
}
.content .text-container article .article-icon {
  width: 15%;
}
.largeSignUp {
  display: block;
  background: none;
  color: #000;
  padding: 1rem 1.5rem;
  text-decoration: none;
  font-size: 8vw;
  font-weight: bold;
  width: 100%;
  padding: 0 2rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid #99b4ff;
  margin-bottom: 12rem;
}
.largeSignUp:hover {
  color: #00000054;
  border-color: #00000054;
  transition: 0.3s;
}
.disclaimer {
  font-size: 2.4vw;
  margin-bottom: 4rem;
  padding: 2rem;
}
.attribution {
  font-size: 2.2vw;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 500px) {
  h1 {
    font-size: 4.4rem;
  }
  p,
  li,
  a {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 3.4rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  .attribution {
    font-size: 1.2rem;
  }
  .disclaimer {
    font-size: 1.2rem;
  }
  .largeSignUp {
    width: 42rem;
    font-size: 4.1rem;
  }
}
@media only screen and (min-width: 700px) {
  #hero-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 60rem;
  }
  #hero-header div {
    height: 100%;
  }
  #hero-header .hero-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
  }
  #hero-header .img-container img {
    height: 95%;
  }
  .content {
    margin-bottom: 15rem;
  }
  .content .img-container img {
    height: 25rem;
  }
  .content .text-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
  }
  .content .text-container article {
    width: 32%;
    height: 15rem;
    margin-bottom: 0;
  }
  .content .text-container article h3 {
    font-size: 2vw;
  }
  .content .text-container article p {
    font-size: 1.8vw;
  }
}
@media only screen and (min-width: 1000px) {
  #container {
    width: 1000px;
  }
  .content .text-container article h3 {
    font-size: 2.2rem;
  }
  .content .text-container article p {
    font-size: 1.6rem;
  }
}
