footer {
    width: 100%;
    background: @main-bg;
    position: absolute;

    p {
        display: block;
        color: @disney-blue;
        position: relative;
        margin: 0 auto;
        padding: 2rem;
        width: 100%; // full 1030px
    }

    @media @desktop1000 {
        p {
            width: 1000px;
        }
    }
}