* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: roboto;
}

h1 {
    font-size: 8vw;
    line-height: 1.6;
}

h2 {
    font-size: 6vw;
}

h3 {
    font-size: 4vw;
}
p, li, a {
    font-size: 3.2vw;
    line-height: 1.8;
}

a {
    color: @black;
    
    &:hover {
        color: #00000056;
        transition: .2s;
    }
}